$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

$green: #69D469; 
$bootstrap-green: #5cb85c;
$blue: #3498db;
$red: #d9534f;
$orange: #FF530D;
$header-text-gray: #a8abaf;
$gray-light: #eee;
$gray-disabled: #aaa;

$small: 768px;
$medium: 992px;
