
// Custom Settings Code
.insert-settings-code {
  text-align: center;
  
  & > div {
    padding-top:4rem;
  }

  input {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
  }

  p {
    margin-bottom: 0;
  }

  form {
    margin-top: 1rem;
  }
}

.invalid-code {
  border: 1px solid $red;
  margin: 1rem auto;
  padding: 0.5rem;
  font-size: 0.9em;
  color: #999;

  p {
    margin: 0;
  }
}

.family-settings-list {
  padding-top: 2rem;
  text-align: center;
  
  h5 {
    margin-bottom: 1.5rem;
  }

  p {
    margin: 0 auto;
    width: 80%;
    border: 1px solid $blue;
    padding: 0.5rem;
  }
  
  ul, li {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 1rem;
    position: relative;
    
    p {
      .family-settings-remove-code {
        position: absolute;
        line-height: 32px;
        height: 32px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        display: none;
        background-color: #fff;
        border: 1px solid $blue;
        
        a {
          font-family: $main-font;
          color: $red;
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    &:hover {
      & .family-settings-remove-code {
        display: block;
      }
    }

  }
}
