// Footer
.footer {
  height: 40px;
  line-height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparentize(#eee, 0.2);
  display: block;
  
  .footer-links {
    text-align: center;
    
    a {
      margin: 0 0.5rem;
    }
  }
}