// Temporary
.logout, .login {
  list-style: none;
  border: 1px solid #ccc;
  width: 70px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5rem; 
  background: #fff;
}

$activeColor: #27ae60; //green
$darkenColor: darken($activeColor, 20%);
$background: #3498db;

// App styles
* {
  appearance: none;
  -webkit-appearance: none;
}

.body.container {
  padding-top: 8rem;
}

.form-header {
  padding: 0;
  position: relative;
  height: 6rem;
  border: 1px solid #eee;
  
  h3, p {
    position: absolute;
    margin: 0;
  }
  
  h3 {
    top:1rem;
    left:1rem;
    font-size: 1.4em;
  }

  .instrument {
    bottom:1rem;
    left:1rem;
    font-size: 0.8em;
  }

  .teacher {
    top:1rem;
    right:1rem;
    font-size: 1em;
  }

  .lesson-count {
    bottom:1rem;
    right:1rem;
    font-size: 1em;
  }
}

.form {
  margin-bottom: 3rem;
}


.weeks {
  width: 85%;
  padding: 0 5%;
  margin: 2rem auto 0;
  
  .week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    position: relative;
    
    .select-week {
      overflow: hidden;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -15px;
      margin-bottom: 0;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      box-shadow: none;
      text-shadow: none;
      border: 3px solid #eee;
      background: #fff;
      cursor: pointer;
      
      &:focus {
        outline: 0;
      }

      &:hover {
        background: rgba(0,0,0,0.1);
      }
      
      &.selected {
        background: #ccc;
        border: none;
      }
    }
  }
}