

// Temporary
.logout, .login {
  z-index: 101;
  list-style: none;
  border: 1px solid #ccc;
  width: 70px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5rem; 
  background: #fff;
}

$green: #00FF48; 
$blue: #3498db;
$red: #E82C0C;
$orange: #FF530D;

$small: 768px;

// App styles
* {
  appearance: none;
  -webkit-appearance: none;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 30px;
}

.body.container {
  padding-top: 8rem;
}

// Header
.header {

  .navbar-nav {

    .header-small {
      text-transform: uppercase;
    }

    a {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .total-lessons {
      height: 44px;
      line-height: 44px;
      border-right: 1px solid #9d9d9d;
      margin-top: 10px;
      
      .header-small {
        margin-right: 5px;
        font-size: 0.9em;
      }

      .header-large {
        font-weight: bold;
      }
    }

    .current-discount,
    .possible-discount {
      max-width: 140px;
      margin-right: 1rem;
      border-right: 1px solid #9d9d9d;
      margin-top: 10px;


      a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
      
      .header-small {
        display: inline-block;
        font-size: 0.8em;
        margin-right: 0.5rem;
        line-height: 1.2;
      }

      .header-large {
        display: inline-block;
        font-size: 1.4em;
      }

    }

    .current-discount .header-large {
      color: $green;
    }

    .possible-discount .header-large {
      color: $orange;
      
      &.max-discount {
        color: $green;
      }
    }
    
    .total-owed {
    
      .header-small {
        font-size: 0.8em;
        display: block;
      }

      .header-large {
        font-size: 1.5em;
        color: #fff;
        letter-spacing: 1px;
      }
      
    }
  }
  
}





// Forms


.forms {
  padding: 3rem 0;
}

.form-header {
  padding: 0;
  position: relative;
  min-height: 6rem;
  border: 1px solid #eee;
  
  h3, p {
    position: absolute;
    margin: 0;
  }
  
  h3 {
    top:1rem;
    left:1rem;
    font-size: 1.4em;
  }

  .instrument {
    bottom:1rem;
    left:1rem;
    font-size: 0.8em;
  }

  .teacher {
    top:1rem;
    right:1rem;
    font-size: 1em;
  }

  .lesson-count {
    bottom:1rem;
    right:1rem;
    font-size: 1em;
  }
}

.form {
  margin-bottom: 3rem;
}


.weeks {
  width: 85%;
  padding: 0 5%;
  margin: 2rem auto 0;
  
  .week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    position: relative;
    
    .select-week {
      overflow: hidden;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -15px;
      margin-bottom: 0;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      box-shadow: none;
      text-shadow: none;
      border: 3px solid #eee;
      background: #fff;
      cursor: pointer;
      
      &:focus {
        outline: 0;
      }

      &:hover {
        background: rgba(0,0,0,0.1);
      }
      
      &.selected {
        background: #ccc;
        border: none;
      }
    }
  }
}

// New Student section
.new-student-button {
  display: block;
  position: fixed;
  top: 50px;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  z-index: 102;

  button {
    width: 100%;
    border-radius: 0;
    height: 40px;
  }

  @media screen and (min-width: $small) {
    position: fixed;
    right: 0;
    top: 67px;
    z-index: 2001;
    width: 90px;
    height: 30px;
    
    button {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}

.new-student-form {

  min-height: 80px;
  position: relative;

  * {
    position: absolute;
  }
  
  #selectTeacher {
    top: 0;
    right: 0;
    width: 45%;
  }

  #selectInstrument {
    bottom: 0;
    left: 0;
    width: 45%;
  }

  #studentName {
    top: 0;
    left: 0;
    width: 50%;
  }

  #submit-new-student {
    bottom: 0;
    right: 0;
    width: 45%;
  }

}

// Footer
.footer {
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #eee;
  display: block;
}