<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

      * {
        margin: 0;
        padding: 0;
      }

      body {
        width: 600px;
        padding: 1rem;
      }
      
      ul, li {
        list-style: none;
      }

      .top-headline {
        margin-bottom:1rem;
      }

      .student-info {
        width: 500px;
        margin: 0 auto 1rem;
      }

      .lesson-period {
        margin: 1rem 0;
      }

      .lesson-period table {
        margin-top: 1rem;
      }

      table td {
        padding: 0.2rem 1rem 0.2rem 0;
      }

      table th {
        padding-right: 0.5rem;
      }

      .total-owed {
        color: #555;
        margin-top: 2rem;
      }

      .total-owed span {
        color: #000;
      }

      .no-lesson .week-string {
        text-decoration: line-through;
      }

      .no-lesson .lesson-boolean {
        font-weight: bold;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
